---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: visage-postgres-pvc
  namespace: visage
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: visage
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
